// .btn {
//     position: relative;
//     padding: 1rem 2rem;
//     margin: 1rem;
//     font-size: 1.4rem;
//     font-weight: bold;
//     border: none;
//     outline: none;
//     border-radius: 1rem;
//     cursor: pointer;
//     box-shadow: 0 0 3px $color-gray-p2;
//     overflow: hidden;
//     transition: all 0.3s ease;

//     &__swipe {
//         background-color: $color-orange;
//         &::after {
//             content: "";
//             top: 0;
//             right: 0;
//             left: 0;
//             bottom: 0;
//             border-radius: 1rem;
//             transform: scale(0, 1);
//             transition: all 0.4s ease;
//             background-color: $color-orange2;
//         }
//         &:hover {
//             &::after {
//                 color: $color-whith;
//                 transform: scale(1, 1);
//             }
//         }
//     }
// }
.btn {
    position: relative;
    padding: 1rem 2rem;
    margin: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 0 3px $color-gray-p2;
    overflow: hidden;
    transform: all 0.3s ease;
    
    &__swipe {
        color:$color-gray-light2;
        background-color: $color-orange;
        &>span{
            position: relative;
            z-index: 1;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $color-orange2;
            border-radius: 1rem;
            transform: scale(0, 1);
            transition: all.4s ease;
        }
        &:hover {
            color:$color-whith;
            &::after {
                transform: scale(1, 1);
            }
        }
    }
}
