$base-path: '../' ;
$font-stack: "iransans", "iransansdn", Verdana, Geneva, Tahoma, sans-serif;

$color-blue-p: rgb(62, 62, 255);
$color-blue: #6461f7;
$color-blue-search: #457b9d;
$color-blue2: #a8cadf;
$color-blue3:#d3f4f2;

$color-green:rgb(117, 180, 57);
$color-green2:#2e9d8f;


$color-brown: rgb(100, 61, 61);
$color-red: rgb(255, 67, 67);
$color-red-2: #ff4f4f;

$color-orange:#d35400;
$color-orange2:#993e01;
$color-orange3:#ff8432;
$color-orange4:#e76f51;
$color-orange5:hsl(31, 100%, 57%);

$color-gold:goldenrod;

$color-burger-black: rgb(34, 34, 34);
$color-gray-p2: #444;
$color-gray-p: rgb(109, 109, 109);
$color-gray: #999;
$color-gray-light: #a0a0a0;
$color-whith-g: #ccc;
$color-gray-light2: #c9c9c9;
$color-whith-2: #f1f1f1;
$color-whith: #fff;

$cubic-bezier: cubic-bezier(0.76, -0.63, 0.36, 1.79);