@font-face {
    font-family: "iransans";
    src: font("eot/IRANSansWeb_Light.eot");
    src: font("eot/IRANSansWeb_Light.eot") format("embedded-opentype"), font("woff2/IRANSansWeb\ Light.woff2") format("woff2"), font("woff/IRANSansWeb-Light.woff") format("woff"),
        font("ttf/IRANSansWeb-Light.ttf") format("truetype");
}

@font-face {
    font-family: "iransansdn";
    src: font("eot/IRANSansDN.eot");
    src: font("eot/IRANSansDN.eot") format("embedded-opentype"), font("woff2/IRANSansDN.woff2") format("woff2"), font("woff/IRANSansDN.woff") format("woff"),
        font("ttf/IRANSansDN.ttf") format("truetype");
}
