h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-gray-p2;
}
.header-intro {
    display: inline-block;
    width: 0;
    font-family: "iransansdn";
    font-size: 5rem;
    font-weight: bold;
    white-space: nowrap;
    background-image: linear-gradient(110deg, #76e650 -1.13%, #f9d649 15.22%, #f08e35 32.09%, #ec5157 48.96%, #ff18bd 67.94%, #1a4bff 85.34%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    // -webkit-text-fill-color: transparent;
    border-left: 1.4rem solid $color-blue-p;
    animation: typewriting 2s steps(20) 2s infinite normal forwards, cursor 1s steps(1) infinite;
    // animation: name duration timing-function delay iteration-count direction fill-mode;
    // @media only screen and(max-width:1290px) {
    //     font-size:3.5rem;
    // }
    @media only screen and(max-width:1400px) {
        font-size: 3.8rem;
    }
    @media only screen and(max-width:1200px) {
        font-size: 3.5rem;
    }
    @media only screen and(max-width:992px) {
        font-size: 2.8rem;
    }
    @media only screen and(max-width:768px) {
        font-size: 2.5rem;
    }
}
.header-subtitle {
    font-size: 2rem;
    line-height: 2;
    color: $color-gray;
    @media only screen and(max-width:992px) {
        font-size: 1.5rem;
    }
    @media only screen and(max-width:1200px) {
        font-size: 1.7rem;
    }
    @media only screen and(max-width:1400px) {
        font-size: 1.9rem;
    }
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem;
    font-family: "iransansdn";
    font-size: 3rem;
    &::after,
    &::before {
        content: "";
        width: 20rem;
        height: 0.2rem;
        border-radius: 5rem;
        margin: 0 1rem;
        background-color: $color-red-2;
        @media only screen and(max-width:768px) {
            width: 100%;
        }
    }
}
